.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home-name {
  font-size: 5rem;
  font-weight: var(--font-bold);
  margin-top: 1rem;
}

.home-education {
  font-size: var(--h2-font-size);
  font-weight: 300;
}

.scroll-down-container {
  text-align: center;
}

.scroll-down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.mouse {
  border: 2px solid var(--text-color);
  display: block;
  height: 1.8rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.75rem;
  border-radius: 1rem;
  position: relative;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}
.wheel {
  background-color: var(--text-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@media screen and (max-width: 1024px) {
  .home {
    left: 5%;
  }
  .scroll-down {
    width: 90%;
  }
}
