.menu-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  padding-left: 10%;
  padding-right: 5%;
  min-height: 5rem;
  border-bottom: 1px solid var(--border-color);
  background-color: #e5e4e2;
  padding: 2.5rem;
}
.menu-bar {
  display: flex;
  justify-content: flex-end;
  column-gap: 3rem;
}

.menu-list {
  color: var(--title-color);
}

.menu-link:hover {
  color: #707070;
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
  }
}
